* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

a,li {
    list-style: none;
    text-decoration: none;
}
.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerTitle {
    font-weight: 600;
    font-size: 2.4rem;
    text-transform: uppercase;
}
.headerList {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.headerLink {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}
body {
    text-align: center;
}

#container {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 0px auto;
    border-radius: 10px;
}
#btn {
    padding: 10px;
    width: 150px;
    background-color: red;
    color: azure;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 10px;
}