html{
    font-size: 62.5%;
}
.commonContainer{
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
    /* border: 1px solid red; */
    padding: 0px 10px;
}

.featureCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}
.featureCard img{
    text-align: center;
    margin: 0px auto;
}

@media (max-width:500px) {
    .videoPlayIcon{
        top: 35%;
        left: 42%;
        width: 80px;
        height: 80px;
    }
}

@media (max-width:400px) {
    .videoPlayIcon{
        top: 30%;
        left: 40%;
        width: 70px;
        height: 70px;
    }
}