body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    list-style: none;
  }
  #btn {
    padding: 10px;
    width: 120px;
    background-color: red;
    color: wheat;
    border-radius: 8px;
  }
  
  .quote {
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .author {
    font-size: 14px;
    color: gray;
  }
  